server:
  port: 8082
spring:
  application:
    name: sample-consumer
  cloud:
    zookeeper:
      connect-string: 106.12.97.129:2181


#sample-consumer:
#  ribbon:
#    listOfServers: http://localhost:8081


feign:
  hystrix:
    enabled: true
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic
